:root{
  --color-blue:  #83acd8;
  --color-light-blue: #ADC4DD;
  --color-dodger-blue: #2196F3;
  --color-cerulean-blue: #305eb3;

  --color-green: #008000;
  --color-light-green: #bcf4bc;

  --color-white: #f3f3f3;
  --color-light-silver: #f7f7f7;
  --color-light-gray: #eee;
  --color-gray: #c5c5c5;
  --color-black: #000000;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-gray);
  font-family: Nunito+Sans, sans-serif, arial;
}

header {
  background-color: var(--color-gray);
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  min-height: 60px;
  padding: 5px 30px 10px 30px;
}
@media (max-width: 1050px) {
  header {
    padding: 5px 130px 10px 80px; 
  }
}
  
@media (max-width: 650px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-left: 20px;
  width: 100%;
  height: 100%;
  max-width: 300px;
}
@media (max-width: 1050px) {
  .logo > img {
    margin: 0 auto;
  }
}


#page-container {
  position: relative;
}

.inf-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1050px) {
    .inf-container {
        margin: 160px auto auto auto;
    }
}


p {
    font-size: 18px;
}
@media (max-width: 650px) {
    p {font-size: 16px;}
}

.small-font {
    font-size: 16px;
}
.center-text {
    text-align: center;
}

.strong-black-font{
  font-weight:600;
  color: var(--color-black);
}
.strong-green-font{
  font-weight:600;
  color: var(--color-green);
}

.grid {
  display: flex;
}


li {
  list-style: none;
}

ul> li > a {
  color: var(--color-black);
  text-decoration: none;
}
ul> li >  a:hover {
  background-color: var(--color-light-blue);
}
ul> li >  a:active {
 background-color: var(--color-light-green);
}

nav {
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    font-size: 16px;    
   }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1050px) {
  nav > ul {
    flex-direction: column;
  }
}

#features {
  margin-top: 30px;
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  height: 125px;
  width: 80vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    padding: 0;
    height: 170px;
    text-align: center;
  }
}



#video-product {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#video-product > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing-plans {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 5);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.plans > .level {
  background-color: var(--color-gray);
  color: var(--color-black);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.plans > h2 {
  margin-top: 15px;
}

.plans > ol {
  margin: 15px 0;
}

.plans > ol > li {
  padding: 5px 0;
}

/** Show the plans in a column **/ 
@media (max-width: 800px) {
  #pricing-plans {
    flex-direction: column;
  }
  .plans {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.sel-button {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: var(--color-light-blue);
    cursor: pointer;
    border: 0;
    margin: 15px 0;
    font-weight: 400;
}
  
.sel-button:hover {
    background-color: var(--color-light-green);
    transition: background-color 1s;
}

.sel-button-special{
      background-color: var(--color-blue);
}


/** Email **/ 
 .email-drawing {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 130px;
  margin-top: 100px;
}
@media (max-width: 650px) {
  .email-drawing {
    margin-top:240px;
    height: 120px;
  }
}
input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}
  
input[type='submit'] {
  max-width: 100px;
  width: 100%;
  height: 28px;
  margin: 17px 0;
  border: 0;
  background-color: var(--color-light-blue);
}

input[type='submit']:hover {
  background-color: var(--color-light-green);
  transition: background-color 1s;
}

.send-email {
  padding: 0 15px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

/** Contact **/
.contact_us {
  /**background-color: var(--color-gray);**/
  padding: 0px;
  margin: 0px;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 650px) {
  .contact_us {
    height: 500px;   
    flex-direction: column;
  }
}

.inf-contact, .inf-signup{
  width: 45%;
  /* float: left; */
  padding-right: 2.5%;
  padding-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 5px;
  display: table-cell;
}
@media all and (max-width: 650px) 
{.inf-contact, .inf-signup{
 width: 90%;
}
}




.contato-size {
  font-size: 18px;
}
@media (max-width: 650px) {
  .contato-size {
    font-size: 14px;
  }
}
.title-contato-size{
  font-size: 22px;
  font-weight: 550;
} 
@media (max-width: 650px) {
  .title-contato-size {
    font-size: 18px;
  }
}


.contato-size > a {
  color:var(--color-cerulean-blue); 
  text-decoration: underline;
}
.contato-size > a:hover {
  color: var(--color-dodger-blue);
}
.contato-size > a:active {
  color:var(--color-green);
}

.icon-contact {
  display: flex;
  align-items: center;
  justify-content: center;

}

 .desc-contact {
  height: 100px;
  width: 80vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 650px) {
  .desc-contact {
    height: 60px;   
  }
}

footer {
  margin-top: 2px;
  background-color: var(--color-gray);
  padding: 10px;

}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  color: var(--color-black);
}

@media (max-width: 650px) {
  footer > span {
    font-size: .8em;
  }
}