:root{
  --color-blue:  #83acd8;
  --color-light-blue: #ADC4DD;
  --color-sky-blue: #87cefa;
  --color-cerulean-blue: #305eb3;
  --color-forest-green: #71be71;
  --color-green: #008000;
  --color-light-green: #bcf4bc;
  --color-gray: #c5c5c5;
  --color-light-gray: #eee;
  --color-dark-gray: #8a8a8a;
  --color-silver: #cfcfcf;
  --color-black: #000000;
  --color-purple: #680475;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-gray);
  font-family: Nunito+Sans, sans-serif, arial;
}

header {
  background-color: var(--color-silver);
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  min-height: 60px;
  padding: 5px 30px 10px 30px;
}
@media (max-width: 1050px) {
  header {
    padding: 5px 130px 10px 80px; 
  }
}
@media (max-width: 650px) {
  header {
    flex-wrap: wrap;
  }
}

/** >>>>> Header - logo <<<<< **/
.logo {
  width: 60vw;
}
@media (max-width: 650px) {
  .logo {
    margin-top: 0px;
    width: 100%;
    position: relative;
  }
}
.logo > img {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-left: 20px;
  width: 100%;
  height: 100%;
  max-width: 300px;
}
@media (max-width: 650px) {
  .logo > img {
    margin: 0;
  }
}

/** >>>>> Formatting Text <<<<< **/
p {
    font-size: 18px;
}
@media (max-width: 650px) {
    p {font-size: 16px;}
}
.small-font14 {
  font-size: 14px;
}
.small-font16 {
    font-size: 16px;
}
.center-text {
    text-align: center;
}
.strong-black-font{
  font-weight:600;
  color: var(--color-black);
}
.strong-green-font{
  font-weight:600;
  color: var(--color-green);
}

/** >>>>> Container layout <<<<< **/
#page-container {
  position: relative;
}

.inf-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1050px) {
  .inf-container {
     margin: 160px auto auto auto;
  }
}

/** >>>>> Styling lists  and  grid layout <<<<< **/
.grid {
  display: flex;
}

li {
  list-style: none;
}

ul> li > a {
  color: var(--color-black);
  text-decoration: none;
}
ul> li >  a:hover {
  background-color: var(--color-light-green);
  text-decoration: overline;
}
ul> li >  a:active {
 background-color:var(--color-forest-green);
}

/** >>>>> Header - Menu <<<<< **/
nav {
  font-weight: 600;
  font-size: 18px;
}
@media (max-width: 650px) {
  nav {
    margin-top: 5px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   }
  nav li {
    padding-bottom: 0px;
  }
}

nav > ul {
  width:35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 1050px) {
  nav > ul {
    flex-direction: column;
  }
}

/** >>>>>> How it works Section <<<<< **/
.features {
  margin-top: 30px;
}
@media (max-width: 650px) {
  .features {
    margin-top: 0;
  }
}

.features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
}
@media (max-width: 550px) {
  .features .icon {
    display: none;
  }
}

.features .desc {
  height: 130px;
  width: 80vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 750px) {
  .features .desc {
    width: 100%;
    padding: 0;
    height: 170px;
    text-align: center;
  }
}

/** >>>>>> Product Section - Video <<<<< **/
.video-product {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.video-product > iframe {
  max-width: 560px;
  width: 100%;
}

/** >>>>>> Pricing Section <<<<< **/
.pricing-plans {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.plans {
  background-color:var(--color-light-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 5);
  margin: 10px;
  border: 1px solid var(--color-black);
  border-radius: 5px;
}

.plans > .level {
  background-color: var(--color-gray);
  color: var(--color-black);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  margin: 10px;
}

.plans > h2 {
  margin-top: 15px;
}

.plans > ol {
  margin: 15px 0;
}

.plans > ol > li {
  padding: 5px 0;
}

/** Show the Pricing Plans in a column **/ 
@media (max-width: 800px) {
  .pricing-plans {
    flex-direction: column;
  }
  .plans {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
/** >>>>>> button selection - Pricing Section <<<<< **/
.sel-button {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: var(--color-blue);
    cursor: pointer;
    border: dotted;
    margin: 15px 0;
    font-weight: 400;
    border-radius: 5px;
}
.sel-button:hover {
    background-color: var(--color-light-green);
    transition: background-color 1s;
}
.sel-button:active {
  background-color:var(--color-forest-green);
}

.sel-button-special{
      background-color: var(--color-sky-blue);
}

/** >>>>> Email <<<<< **/ 
.email-drawing {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 130px;
  margin-top: 100px;
}
@media (max-width: 650px) {
  .email-drawing {
    margin-top:240px;
    height: 120px;
  }
}
input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}
input[type='submit'] {
  max-width: 100px;
  width: 100%;
  height: 28px;
  margin: 17px 0;
  border: 1;
  border-radius: 5px;
  background-color: var(--color-light-blue);
}
input[type='submit']:hover {
  background-color: var(--color-light-green);
  transition: background-color 1s;
}
input[type='submit']:active {
  background-color:var(--color-forest-green);
}

.send-email {
  padding: 0 15px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

/** >>>>> Contact <<<<< **/
.contact_us {
  padding: 0px;
  margin: 0px;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 650px) {
  .contact_us {
    height: 500px;   
    flex-direction: column;
  }
}

.inf-contact, .inf-signup{
  width: 45%;
  padding-right: 2.5%;
  padding-left: 2.5%;
  padding-top: 10px;
  padding-bottom: 5px;
  display: table-cell;
}
@media all and (max-width: 650px) 
  {.inf-contact, .inf-signup{
 width: 90%;
  }
}

.contato-size {
  font-size: 18px;
}
@media (max-width: 650px) {
  .contato-size {
    font-size: 14px;
  }
}
.title-contato-size{
  font-size: 22px;
  font-weight: 550;
} 
@media (max-width: 650px) {
  .title-contato-size {
    font-size: 18px;
  }
}

.contato-size > a {
  color:var(--color-cerulean-blue); 
  text-decoration: underline;
}
.contato-size > a:hover {
  color: var(--color-green);
}
.contato-size > a:active {
  color:var(--color-forest-green);
}

.icon-contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc-contact {
  height: 100px;
  width: 80vw;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 650px) {
  .desc-contact {
    height: 60px;   
  }
}

/* >>>>> Footer - Copyright <<<<< */
.footer-copyright {
  margin-top: 2px;
  background-color: var(--color-silver);
  padding: 10px;
}

.footer-copyright > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  color: var(--color-black);
}

@media (max-width: 650px) {
  .footer-copyright > span {
    font-size: .8em;
  }
}

/* >>>>> Footer - coded by eluh! <<<<< */
.footer-signed {
  background-color: var(--color-dark-gray);
  color:var(--color-black);
  margin: 0;
  width: 100%;
  height: 35px;
  padding: 0px 10px;
}

@media (max-width: 1175px) {
  .footer-signed {
    height: 55px;
  }
}
@media (max-width: 750px) {
  .footer-signed {
    height: 70px;
  }
}
@media (max-width: 550px) {
  .footer-signed {
    height: 100px;
    text-align: center;
  }
}

.col-coded-sign {
  color: var(--color-purple);
  font-family: Princess Sofia, Calibri;
  font-size: 20px;
  font-weight: 900;
}  